@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

table {
  width: 100%;
  border-collapse: collapse;
}

h1,
th {
  color: white;
  text-align: center;
  margin: 0;
  width: fit-content;
}

td {
  padding: 5px;
}

button {
  background-color: #d683af;
  border-radius: 5px;
}

button:hover {
  background-color: #db7bae;
  transform: translateY(-3px);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7edf0;
  margin: 0;
}

select {
  width: 250px;
  border-radius: 5px;
}
input {
  border-radius: 5px;
}

label {
  width: 200px;
  text-align: left;
  margin-right: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

tr:nth-child(odd) {
  background-color: #ebc3be;
}

tr:nth-child(even) {
  background-color: #f7cec8;
}
